@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  margin: 0 1em;
  font-family: 'Ubuntu', sans-serif;
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 1.6rem;
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {width: 25px;margin-right: 1em;}
  .logo {
    display: flex;
    justify-content: space-between;
  }
  
  a {
    visibility: hidden;
    position: absolute;
    left: 0;
  }
}

.info {
  button{
    
    padding: 0.5em 1em;
    margin: 0 0.25em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.76);
    border: 2px solid rgba(216, 140, 0, 0.733);
    border-radius: 10px;
    background-color: rgba(40, 40, 214, 0.384);
    &:active{border-style: outset;}
    
  }
  .couple_img{
    
    border-radius: 15px;
    padding-top: 1em;
  }
   
}

.video {
  border-top : 1px solid;
  margin: 1em;
  
  iframe {
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
  }
}

.blog {
  display: flex;
  position: relative;
  justify-content: flex-start;


  p {
    position: absolute;
    top: 2.5em;
    left: 5em;

  }

  .blog_card {
    margin: 2em 1em ;
    padding: 0.5em;
    border : medium solid black;
    
    .blog_card_img{
      
      margin: 0 auto;
      display: block;
      
      border-radius: 50%;
      
    }
  }
}

